browser-use==0.1.40
pyperclip==1.9.0
gradio==5.23.1
json-repair
langchain-mistralai==0.2.4
langchain-google-genai==2.0.8
MainContentExtractor==0.0.4
python-dotenv==1.1.0

httpx~=0.28.1
websockets~=15.0.1
pillow~=11.1.0
langchain-core~=0.3.49
json_repair~=0.40.0
pydantic~=2.11.1
langchain-anthropic~=0.3.3
langchain-openai~=0.3.1
openai~=1.70.0
requests~=2.32.3
playwright~=1.51.0